<iframe class="" src="https://www.youtube.com/embed/CibsxYpNTIU?autoplay=1&mute=1&loop=1&controls=1" frameBorder="0"
    alt="yt-vd"></iframe>

<div class="h-screen bg-white">
    <div class="absolute text-white h-full pt-[20%] px-24 bg-gradient-to-r from-black">
        <h1 class="text-6xl font-bold">{{bannerTitle}}</h1>
        <p class="text-sm flex-wrap w-1/4 py-6 inline-block">{{bannerDescription}}</p>

        <div class="">
            <button
                class=" text-black bg-white py-3 px-9 text-xl rounded-lg hover:bg-opacity-70 transition-[1s]"><span>&#9658;</span>
                Play</button>
            <button
                class="text-white bg-gray-500 mx-2 py-3 px-9 text-xl rounded-lg hover:bg-opacity-50 transition-[1s]">More
                Info</button>
        </div>
    </div>
</div>